################################################################################
# Progetto Lazzaro II
# https://github.com/tajmone/lazzaro2
################################################################################

* text=auto

## =================
## WEB-RELATED FILES
## =================
*.css      text
*.css.map  text
*.htm      text
*.html     text
*.js       text
*.mht      text
highlight.min.js  eol=lf

## ===============
## SASS/SCSS FILES
## ===============
*.scss     text

## ==================
## MISC. DATA FORMATS
## ==================
*.haml     text
*.json     text
*.xhtml    text
*.xml      text
*.yaml     text
*.yml      text

## ===================
## Documentation files
## ===================
*.adoc         text
*.asciidoc     text
*.docx         binary
*.markdown     text
*.md           text
*.odt          binary
*.pdf          binary
*.txt          text
*COPYRIGHT*    text
*README*       text
AUTHORS        text
CHANGELOG      text
CHANGES        text
CONTRIBUTING   text
COPYING        text
copyright      text
INSTALL        text
license        text
LICENSE        text
NEWS           text
readme         text

## ===============
## Scripting langs
## ===============
*.rb       text

## =============
## Shell scripts
## =============
*.bat      text eol=crlf
*.com      text eol=crlf
*.sh       text eol=lf
*.ps1      text eol=crlf

## ===================
## Configuration files
## ===================
*.cnf          text
*.conf         text
*.config       text
*.ini          text
*.prefs        text
.editorconfig  text
## -------------
## Git settings:
## -------------
.gitattributes text
.gitconfig     text
.gitignore     text
.gitmodules    text eol=crlf

## ==============
## ZIP/ARCHIVES
## ==============
*.7z       binary
*.gz       binary
*.jar      binary
*.rar      binary
*.tar      binary
*.zip      binary

## ======================
## IMAGE & GRAPHICS FILES
## ======================
*.ai         binary
*.bmp        binary
*.eps        binary
*.gif        binary
*.ico        binary
*.jng        binary
*.jp2        binary
*.jpeg       binary
*.jpg        binary
*.jpx        binary
*.jxr        binary
*.pdf        binary
*.png        binary
*.psb        binary
*.psd        binary
*.svg        binary
*.svgz       binary
*.tif        binary
*.tiff       binary
*.wbmp       binary
*.webp       binary

# EOF #
